# Symfony Framework
APP_ENV=dev
APP_SECRET=your_secret_key_here

# Database Configuration
# MySQL example:
DATABASE_URL="mysql://username:password@127.0.0.1:3306/database_name?serverVersion=8.0.32&charset=utf8mb4"

# Messenger
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0

# Mailer
MAILER_DSN=null://null

# Pusher Real-Time Notifications
# Sign up at https://dashboard.pusher.com/ to get your credentials
# Create a free Channels app and copy the credentials here
PUSHER_APP_ID=2118421
PUSHER_APP_KEY=7445a106fc77ee7f2426
PUSHER_APP_SECRET=8515808294e153cb7bb9
PUSHER_APP_CLUSTER=mt1
